<%= flash[:warning] %>

<h1>Login</h1>

<%= form_for :sessions, url: login_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
    <br>
    <%= f.label :password %>
    <%= password_field_tag :password %>
    <br>
    <%= f.submit "Login", class: "btn btn-success" %>
<% end %>
