<h1>Pages for: <%= @subject.name %></h1>

<table class="table">
    <thead>
        <tr>
            <th>Page name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @pages.each do |page| %>
            <tr>
                <td><%= link_to page.name, admin_subject_page_path(@subject, page), class: 'btn btn-info' %></td>
                <td>
                    <%= link_to 'Edit', edit_admin_subject_page_path(@subject, page), class: 'btn btn-warning' %>
                    <%= link_to 'Delete', admin_subject_page_path(@subject, page),
                                        method: 'delete',
                                        data: { confirm: 'Are you sure?', disable_with: 'loading...'},
                                        class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>
<br>
<br>

<%= link_to "Add new Page", new_admin_subject_page_path(@subject), class: 'btn btn-lg btn-success' %>
<br>
<br>
<%= link_to  "Add new Tag", new_admin_tag_path, class: 'btn btn-sm btn-success' %>