<h1>Sections for page: <%= @page.name %></h1>

<% @page_tags.each do |tag| %>
    <span class="badge badge-info"><%= tag.name %></span>
<% end %>
<%= form_for [:admin, @tag], url: add_tag_admin_subject_page_path, method: :post do |f| %>
    <%= f.select(:id, options_from_collection_for_select(@filtered_tags, :id, :name), { include_blank: 'select tag...'}, { onchange: "this.form.submit();" })  %>
<% end %>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Section name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @page.sections.each do |section| %>
            <tr>
                <td><%= section.name %></td>
                <td><%= section.description %></td>
                <td>
                    <%= link_to 'Edit', edit_admin_page_section_path(@page, section), class: 'btn btn-warning' %>
                    <%= link_to 'Delete', admin_page_section_path(@page, section),
                                        method: 'delete',
                                        data: { confirm: 'Are you sure?', disable_with: 'loading...'},
                                        class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>
<br>
<%= link_to  "Add new Section", new_admin_page_section_path(@page), class: 'btn btn-success' %>