<!DOCTYPE html>
<html>
  <head>
    <title>Admin Area</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <br>
    <div class="container">
    <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
        <p class="alert alert-danger"><%= flash[:error] %></p>
    <% end %>

    <!-- TODO: this two paragraphs should me mor DRY -->
    <%= display_errors(@subject)&.html_safe %>
    <%= display_errors(@page)&.html_safe %>
    <%= display_errors(@section)&.html_safe %>
    <%= display_errors(@tag)&.html_safe %>

    <% if @page&.errors&.any? %>
        <div class="alert alert-danger">
            <p><%= pluralize(@page.errors.count, 'error') %></p>
            <ul>
                <% @page.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

        <%= yield %>

    </div>
  </body>
</html>
